body {
    color: #fff;
    background: #0b0c0c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 1rem;
}

.boxy {
    background: rgba(55, 40, 121, 0.274);
    padding: 0.5rem;
    border-radius: 15px;
}

ul {
    list-style: none;
    padding: 0;
    border-radius: 5px;
}

li {
    padding-left: 1rem;
}

i {
    padding: 1rem;
}

#nothing {
    padding: 1rem;
    padding-left: 0;
}

#todayDiv {
    font-size: 20px;
}

#tomorrowDiv {
    font-size: 20px;
}

#weekDiv {
    font-size: 14px;
}

#laterDiv {
    font-size: 12px;
}

#error {
    background-color: rgba(212, 31, 31, 0.473);
    border-radius: 15px;
    font-size: 15px;
}

.errorText {
    color: #fff;
    font-size: 20px;
    padding: 1rem;
}